<header class="main-head p-shadow-4" style="z-index: 100">
  <p-menubar [model]="items" [style]="{
    'background-color': 'rgba(0, 0, 0, 0.8)',
    'position': 'absolute',
    'z-index': '1',
    'width': '100%',
    'border': 'none'}" styleClass="header">
    <ng-template pTemplate="start">
      <div class="p-text-bold p-mr-2">
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="p-d-flex p-jc-center p-ai-center p-p-3">
        <div class="p-d-inline">
          <embed src="assets/images/logos/Logo-Weiss-2.svg" [width]="'75vw'" [height]="'75vh'" />
        </div>
      </div>
    </ng-template>
  </p-menubar>
</header>
