<div>
  <p-galleria   [value]="images" [containerStyle]="{'max-width': '100vw'}"
                [numVisible]="3" [circular]="true"
                [autoPlay]="true" [transitionInterval]="5000"
                [showThumbnails]="false" [showIndicators]="true"
                [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.previewImageSrc"/>
    </ng-template>
  </p-galleria>
</div>
<div class="section one">
  <h2>"ONE SMALL STEP FOR A MEN, BUT ONE GIANT LEAP FOR MANKIND" <br> - Neil Armstrong</h2>
</div>
