.background {
  //margin-bottom: 40px;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-repeat: no-repeat;
}

img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section.one {
  height: 500px;
  background: white;
  margin-bottom: 250px;
}

