footer {
  background-color: #C40D2E;
  color: white;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  line-height: 150px;
  text-align: center;
}

html {
  color: white;
}

.links {
  display: flex;
  align-items: center;
}

.description {
  display: flex;
  align-content: center;
}
