<div class="wrapper">
  <div class="content p-mt-4 p-mb-1 p-mr-1 p-ml-lg-0 p-mr-lg-0">
    <app-header class="head"></app-header>
    <app-home [attr.id]='"home"'></app-home>
    <app-video [attr.id]='"video"'></app-video>
    <app-history [attr.id]='"history"'></app-history>
  </div>
  <footer class="footer p-shadow-4">
    <div class="description" style="display: inline-block; vertical-align: middle;">@Franjo Franjic 2021 M152</div>
    <div class="links">
      <i class="pi pi-github" style="font-size: 6rem; margin: 5px;"></i>
      <i class="pi pi-github" style="font-size: 6rem; margin: 5px;"></i>
    </div>
  </footer>
</div>
