.product-item {

  //width: 75vw;

  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    background-color: gainsboro;
  }

  .product-image {
    width: 50%;
    height: 50%;
    cursor: pointer;
  }
  .product-image:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #C40D2E;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button:focus {
  background-color: #C40D2E;
}


::ng-deep .p-carousel {
  width: 70vw;
}

.p-link button {
  background-color: #C40D2E;
}

.p-link button:focus {
  background-color: #C40D2E;
}

.description {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  left: 50%;
  text-align: center;
}
.section {
  background: white;
  padding: 70px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.modal-images {
  display: flex;
}

.modal-images img {
  width: 50%;
}

h2 {
  color: #C40D2E;
}

//.video {
//  position: relative;
//  padding-bottom: 56.25%;
//  padding-top: 0;
//  height: 0;
//  overflow: hidden;
//  width: 50vw;
//  height: 50vh;
//}


.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
