<div class="section">
  <p-carousel [value]="carouselItems" styleClass="custom-carousel" [numVisible]="1"
              [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template pTemplate="header"></ng-template>
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="p-mb-3 content">
            <img src="{{product.image}}" class="product-image" [width]="50"/>
            <div class="description">
              <h3>Die Wasserdichte</h3>
              <p style="text-align: center; color: #C40D2E">Wasserdichtes Lorem Ipsum</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
